<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/disp.css">
</head>
<body>
    <h1 class="notfound">Page not Found</h1>
    <h2 class="notfound">The page you were looking for was not found on this server</h2>
    <div class="footer">
        <h3>Website created by</h3>
            <h2>Srajan Gupta</h2>
            <h3>&copy; Srajan</h3>
    </div>
</body>
</html>